mat73==0.60
plotly==5.15.0
roma==1.3.2
streamlit==1.24.1
torch==2.0.0
torchvision==0.15.0
torchaudio==2.0.0
torch_geometric
torch_scatter
torch_sparse
torch_cluster
torch_spline_conv
numpy
pandas
matplotlib
biopython
